$text-color: #343a40;
$sub-text-color: #4c4f52;
$album-size: 18rem;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(to bottom left, #fff3da, #dfccfb, #d0bfff, #beadfa);
}
.card-list {
  width: 100%;
  height: 100%;
  position: fixed;
  @include flex-center;
  transform-origin: center bottom;
}
.card {
  width: 20rem;
  max-height: 30rem;
  height: 75%;
  min-height: 28rem;

  position: absolute;
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 1rem;
  box-sizing: border-box;
  opacity: 0;
  color: $text-color;
  transition: transform 0.2s ease;
  cursor: pointer;
  &.active {
    opacity: 0.4;
    & + .card {
      opacity: 1;
      cursor: default;
      & + .card {
        opacity: 0.4;
      }
    }
  }
  &:first-of-type {
    cursor: default;
    opacity: 0 !important;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @mixin album {
      width: 70%;
      height: 70%;
      border-radius: 50%;
    }
    .album {
      width: $album-size;
      height: $album-size;
      position: relative;
      @include flex-center;
      .record {
        @include album;
        background-size: cover;
        background-position: center;
        border: 5px solid white;
        box-sizing: border-box;
        @include flex-center;
        &.disable {
          pointer-events: none;
        }
        .innerRound {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 2rem;
          padding: 0.5rem;
          border: 2px solid white;
          position: relative;
          @include flex-center;
          &::after {
            content: "";
            width: calc(100% - 1rem);
            height: calc(100% - 1rem);
            position: absolute;
            background-color: white;
            border-radius: 50%;
            box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
              rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
            transition: rotate 0.4s cubic-bezier(0.17, 0.67, 0.38, 0.94);
          }
        }
        transition: scale 0.2s ease, rotate 0.4s cubic-bezier(0.17, 0.67, 0.38, 0.94);
        &:hover {
          scale: 1.1;
          rotate: 360deg;
          .innerRound::after {
            rotate: -360deg;
          }
          & + .shadow {
            scale: 1.1;
          }
        }
      }

      .shadow {
        @include album;
        z-index: -1;
        position: absolute;
        transition: scale 0.2s ease;
        // box-shadow: rgba(181, 241, 204, 0.1) 0px 8px 24px,
        //   rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
      }
    }
    .data-info {
      .title {
        font-weight: 600;
        text-align: center;
        font-size: 1.2rem;
        &::first-letter {
          text-transform: uppercase;
        }
      }
      .type {
        color: $sub-text-color;
        text-align: center;
        font-size: 0.8rem;
      }
      .date {
        color: $sub-text-color;
        text-align: center;
        font-size: 0.7rem;
      }
    }
    .control {
      width: 100%;
      display: flex;
      justify-content: space-around;
      button {
        background: none;
        border: none;
        cursor: pointer;
        svg {
          stroke-linecap: round;
          stroke-linejoin: round;
        }
        &:active {
          svg:not(.roll) {
            fill: rgba(0, 0, 0, 0.5);
          }
          svg.roll {
            stroke: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
}
@mixin project {
  position: fixed;
  cursor: default;
  color: white;
  font-weight: 800;
}
.project-info {
  @include project;
  right: 1rem;
  bottom: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
}
// @mixin move-btn($np) {
//   $button-size: 8rem;
//   position: fixed;
//   width: $button-size;
//   height: $button-size;
//   background-color: rgba($color: #000000, $alpha: 0.2);
//   top: 50%;
//   transform: translate(if($np, $button-size/2, -$button-size/2), -50%) rotate(45deg);
// }
// .next {
//   @include move-btn(true);
//   right: 0;
//   &::before {
//     position: absolute;
//     bottom: 0;
//     content: "\e080";
//   }
// }
// .prev {
//   @include move-btn(false);
//   left: 0;
//   &::before {
//     position: absolute;
//     right: 0;
//     content: "\e079";
//   }
// }
@media (max-width: 616px) {
  .project-info {
    display: none;
  }
}
.project-title {
  @include project;
  left: 0;
  right: 0;
  top: 1rem;
  text-align: center;
  font-size: 2rem;
}
